<h1>Blogs</h1>
<hr>
<div class="table-responsive" ng-hide="ctrl.isBlogsEmpty()">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Points
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="blog in ctrl.blogs">
            <td><a href="#/blogs/{{blog._id}}">{{blog.name}}</a></td>
            <td>{{blog.veganPoints}}</td>
            <td>
                <a href="#/blogs/{{blog._id}}/edit"><i class="material-icons md-18">settings</i></a>
            </td>
            <td><i class="material-icons md-18" ng-click="ctrl.deleteBlog(blog)">delete</i></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="ctrl.isBlogsEmpty()">
    <p class="text-center">No blogs available.</p>
</div>
<div class="text-center">
    <a href="#/newblog" class="align-top"><i class="material-icons md-18">add</i>Add new blog</a>
</div>