<h1>Overview</h1>
<hr>
<p class="text-center">Currently active on EVA vegan</p>
<div class="text-center">
    <h3>Blogs</h3>
    <a href="#/blogs" data-toggle="tooltip" data-placement="bottom" title="Go to overview of blogs"><p>
        {{ctrl.blogs.length}}</p></a>
</div>
<div class="text-center">
    <h3>Recipes</h3>
    <a href="#/recipes" data-toggle="tooltip" data-placement="bottom" title="Go to overview of recipes"><p>
        {{ctrl.recipes.length}}</p></a>
</div>
<div class="text-center">
    <h3>Restaurants</h3>
    <a href="#/restaurants" data-toggle="tooltip" data-placement="bottom" title="Go to overview of restaurants"><p>
        {{ctrl.restaurants.length}}</p></a>
</div>
<div class="text-center">
    <h3>Users</h3>
    <p>{{ctrl.users.length}}</p>
</div>