<div class="wrapper">
    <div ng-show="ctrl.message" class="alert alert-danger alert-custom" role="alert">{{ctrl.message}}</div>
    <form ng-submit="ctrl.register()" class="form-signin">
        <h2 class="form-signin-heading text-center">Register new user</h2>
        <input type="email" class="form-control form-login" name="username" placeholder="Email Address" required=""
               ng-model="ctrl.user.username"
        />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>