
Android/VeganApp_P3_H1/.idea/markdown-exported-files.xml

Android/VeganApp_P3_H1/.idea/markdown-navigator.xml

Android/VeganApp_P3_H1/.idea/markdown-navigator/profiles_settings.xml

Android/VeganApp_P3_H1/.idea/vcs.xml
